@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta contiene toda la información personal que nos has proporcionado. Desde aquí puedes descargarla
            o eliminarla si así lo deseas.
        </p>
        <p>
            <strong>Borrar tu cuenta eliminará permanentemente tu cuenta, esta acción no se puede deshacer.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Descargar datos personales</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Borrar cuenta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
