@model CarSun.Models.Generacion

@{
    ViewData["Title"] = "Generación - Crear";
}

<div class="card">
    <div class="card-header">
        <h3>Crear generación</h3>
    </div>
    <form asp-action="Create">
        <div class="card-body">
            <div class="row row-cols-md-2 row-cols-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Iteracion" class="control-label"></label>
                    <input asp-for="Iteracion" class="form-control" />
                    <span asp-validation-for="Iteracion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaFin" class="control-label"></label>
                    <input asp-for="FechaFin" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Serie" class="control-label"></label>
                    <select asp-items="ViewBag.Series" asp-for="SerieId" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row row-cols-auto">
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
                <div>
                    <a class="btn btn-secondary" asp-action="Index">Volver al listado</a>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


