@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Acaba de adentrarse en la aplicación de gestión de concesionarios con los mejores sistemas integrados.</p>
</div>
